@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("../resourse/normaliz-style-min.css");
@import url("../resourse/fem-footer-style.css");

// # Front-end Style Guide

// ## Layout
// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

// ### Neutral
$Very-Dark-Blue: hsl(234, 12%, 34%); //headers
$Grayish-Blue: hsl(229, 6%, 66%); //text & shadows
$Very-Light-Gray: hsl(0, 0%, 98%); //background-color

// ## Typography
$font-paragraf: 15px;
$font-title: 26px;
$font-fam-Poppins: "Poppins";
$fw200: 200;
$fw400: 400;
$fw600: 600;

// ### my Variables
$margin: 30px;
$card-width: 350px;
$card-height: 250px;
$header-width: 465px;
$content-width: 1110px;

// =============== //
// ### Body main style
body {
	background-color: $Very-Light-Gray;
	font-family: $font-fam-Poppins;
	font-size: $font-paragraf;
	color: $Grayish-Blue;
	line-height: 1.5em;
}

.conteiner {
	width: 100%;
	min-height: 100vh;

	@media (max-width: 768px) {
		margin: $margin 0;
	}
}

.flex {
	display: flex;
}

.j-center {
	justify-content: center;
}

.a-center {
	align-items: center;
}

// =============== //
// ### grid styles
.content__grid {
	margin: auto 20px;

	@media (min-width: 375px) {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
		gap: 20px;
		justify-items: center;
		align-items: center;
	}
	@media (min-width: 1200px) {
		max-width: $content-width;
	}
}

.grid__item {
	@media (max-width: 375px) {
		margin-bottom: $margin;
	}
	@media (min-width: 375px) {
		width: 100%;
	}
	@media (min-width: 576px) {
		width: $card-width;
	}
	@media (min-width: 992px) {
		width: 100%;
	}
}

.item_card_grid {
	display: grid;
	grid-auto-flow: row;
	grid-template: repeat(2, auto) / 1fr;
	align-content: space-between;

	@media (min-width: 375px) {
		height: $card-height;
	}
}

.grid__header {
	@media (min-width: 576px) {
		width: 100%;
	}
	@media (min-width: 768px) {
		grid-column: span 2;
		width: $card-width * 1.5;
	}
	@media (min-width: 1200px) {
		grid-column: span 3;
	}
}

.row-2 {
	@media (min-width: 1200px) {
		grid-row: span 2;
	}
}

.order-2 {
	@media (min-width: 1200px) {
		order: 2;
	}
}

// =============== //
// ### card content styles

@mixin title {
	font-size: $font-title;
	color: $Very-Dark-Blue;
	margin-bottom: $margin - 10px;
}

.header_content {
	text-align: center;

	& h1 {
		@include title();
		font-weight: $fw200;
	}

	& h2 {
		@include title();
		font-weight: $fw600;
	}

	& p {
		margin-bottom: $margin * 1.5;
	}
}

.item_card {
	padding: $margin;
	border-top: solid 5px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 5px 10px 1px $Grayish-Blue;
}

.Supervisor {
	border-color: $Cyan;
}

.Team-Builder {
	border-color: $Red;
}

.Karma {
	border-color: $Orange;
}

.Calculator {
	border-color: $Blue;
}

.card_header {
	width: 100%;

	& h3 {
		font-size: $font-paragraf + 3;
		font-weight: $fw600;
		color: $Very-Dark-Blue;
		margin-bottom: $margin/2;
	}

	& p {
		font-size: $font-paragraf - 3;
	}
}

.card_image {
	// margin: 0 0 0 auto;
	justify-self: end;
}

// ### attribution restyling
// .attribution {
// 	position: inherit;
// }
